body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url('img/notebook-paper.jpg');
  font-family: 'Shadows Into Light', cursive;
  font-weight: 400;
  font-style: normal;
}

header {
  position: absolute;
  top: 2vh;
  text-align: center;
  font-size: 30px;
  color: rgb(74, 74, 212, 0.7);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  padding: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: rgba(21, 21, 22, 0.7);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}

.cell:nth-child(1) {
  border-right: 2px solid rgb(74, 74, 212, 0.7);
  border-bottom: 1px solid rgb(74, 74, 212, 0.7);
}

.cell:nth-child(2) {
  border-left: 1px solid rgb(74, 74, 212, 0.7);
  border-right: 1px solid rgb(74, 74, 212, 0.7);
  border-bottom: 1px solid rgb(74, 74, 212, 0.7);
}

.cell:nth-child(3) {
  border-left: 1px solid rgb(74, 74, 212, 0.7);
  border-bottom: 1px solid rgb(74, 74, 212, 0.7);
}

.cell:nth-child(4) {
  border-top: 1px solid rgb(74, 74, 212, 0.7);
  border-right: 2px solid rgb(74, 74, 212, 0.7);
  border-bottom: 1px solid rgb(74, 74, 212, 0.7);
}

.cell:nth-child(5) {
  border: 1px solid rgb(74, 74, 212, 0.7);
}

.cell:nth-child(6) {
  border-left: 1px solid rgb(74, 74, 212, 0.7);
  border-top: 1px solid rgb(74, 74, 212, 0.7);
  border-bottom: 1px solid rgb(74, 74, 212, 0.7);
}

.cell:nth-child(7) {
  border-top: 1px solid rgb(74, 74, 212, 0.7);
  border-right: 2px solid rgb(74, 74, 212, 0.7);
}

.cell:nth-child(8) {
  border-left: 1px solid rgb(74, 74, 212, 0.7);
  border-right: 1px solid rgb(74, 74, 212, 0.7);
  border-top: 1px solid rgb(74, 74, 212, 0.7);
}

.cell:nth-child(9) {
  border-left: 1px solid rgb(74, 74, 212, 0.7);
  border-top: 1px solid rgb(74, 74, 212, 0.7);
}

.cell:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#scoreboard {
  position: absolute;
  bottom: 16vh;
}

#scoreboard p {
  display: inline;
  padding: 10px;
  font-size: xx-large;
  color: rgb(74, 74, 212, 0.7);
}

footer {
  position: absolute;
  bottom: 0;
  font-size: large;
  text-align: center;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 900px) {
  header {
    top: 0;
    font-size: 16px;
    left: 5%;
  }

  #scoreboard {
    bottom: 5%;
  }

  #scoreboard p {
    padding: 5px;
    font-size: large;
  }

  footer {
    font-size: small;
    right: 0;
    margin-right: 20px;
  }

  footer p {
    margin: 0;
  }
}
